<div class="container py-5">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <img src="../../../assets/img/contacto.png" alt="Imagen de contacto" width="100%">
        </div>
        <div class="col-lg-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="heading text-center text-white py-3 fuenteLato">
                                <h3>Contacta con nosotros</h3>
                            </div>
                        </div>
                    </div>
                    <div class="form p-3">
                        <div class="row p-5">
                            <div class="col-lg-6">
                                <input type="text" class="efecto-input" placeholder="Introduce tu nombre">
                                <span class="Focus-border"></span>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" class="efecto-input" placeholder="Introduce tu nombre">
                                <span class="Focus-border"></span>
                            </div>
                        </div>
                        <div class="row pb-5">
                            <div class="col-lg-12">
                                <input type="email" class="efecto-input" placeholder="Introduce tu email">
                                <span class="Focus-border"></span>
                            </div>
                        </div>
                        <div class="row pt-5">
                            <div class="col-lg-12">
                                <input type="text" class="efecto-input" placeholder="Introduce tu mensaje">
                                <span class="Focus-border"></span>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-lg-6">
                                <p><input type="checkbox">No soy un robot</p>
                            </div>
                            <div class="col-lg-4 offset-2">
                                <button class="btn1">Enviar Mensaje</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

