<nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3 fuenteMontserrat">
    <div class="container">
        <a href="#" class="navbar-brand">Web Zone</a>

        <button type="button" class="navbar-toggler" data-bs-target="#navbarNav" data-bs-toggle="collapse" aria-controls="navbarNav" aria-expanded="false" aria-lable="Toggle Navbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="mx-auto"></div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="" class="nav-link text-white">Home</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link text-white">Sobre Mi</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link text-white">Proyectos</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link text-white">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Banner Image -->
<div class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center">
    <div class="content text-center d-flex justify-content-between align-items-center">
        <div class="">
            <h1>
                Hola esto es una preuba para el flex
            </h1>
        </div>
        <div>
            <img src="../../../assets/img/cabecera.png" alt="Imagen de cabecera de VBTech">
        </div>
    </div>
</div>

<!--MAIN CONTENT AREA -->
<div class="container my-5 d-grid gap-5 fuenteLato">
    <div class="p-5 border">
        <p class="">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, quasi commodi quia ullam voluptatibus tempora harum repellat, cupiditate veniam deleniti numquam corrupti. Hic atque quibusdam reiciendis cupiditate accusamus adipisci mollitia!
        </p>
    </div>
    <div class="p-5 border ">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, quasi commodi quia ullam voluptatibus tempora harum repellat, cupiditate veniam deleniti numquam corrupti. Hic atque quibusdam reiciendis cupiditate accusamus adipisci mollitia!
        </p>
    </div>
    <div class="p-5 border">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, quasi commodi quia ullam voluptatibus tempora harum repellat, cupiditate veniam deleniti numquam corrupti. Hic atque quibusdam reiciendis cupiditate accusamus adipisci mollitia!
        </p>
    </div>
    <div class="p-5 border">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, quasi commodi quia ullam voluptatibus tempora harum repellat, cupiditate veniam deleniti numquam corrupti. Hic atque quibusdam reiciendis cupiditate accusamus adipisci mollitia!
        </p>
    </div>
    <div class="p-5 border">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, quasi commodi quia ullam voluptatibus tempora harum repellat, cupiditate veniam deleniti numquam corrupti. Hic atque quibusdam reiciendis cupiditate accusamus adipisci mollitia!
        </p>
    </div>
    <div class="p-5 border">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, quasi commodi quia ullam voluptatibus tempora harum repellat, cupiditate veniam deleniti numquam corrupti. Hic atque quibusdam reiciendis cupiditate accusamus adipisci mollitia!
        </p>
    </div>
    <div class="p-5 border">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, quasi commodi quia ullam voluptatibus tempora harum repellat, cupiditate veniam deleniti numquam corrupti. Hic atque quibusdam reiciendis cupiditate accusamus adipisci mollitia!
        </p>
    </div>
    <div class="p-5 border">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, quasi commodi quia ullam voluptatibus tempora harum repellat, cupiditate veniam deleniti numquam corrupti. Hic atque quibusdam reiciendis cupiditate accusamus adipisci mollitia!
        </p>
    </div>
</div>

